body{

	font-family: 'Lato', sans-serif;
}




.caja{
	background-color: yellow;
	color:black;
	padding: 20px;
	margin: 4 ;
	display: block;
	box-sizing: border-box;
	width: 197px;

}

.caja#es {
	background-color: red;
}
