body {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container1{
    /*estilos generales*/
    background-color: pink;
    color: whitesmoke;
    font-size: 40px;
    /*proximos conceptos*/
    display: inline-block;
    /*modelo de caja*/
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 20px;
}

.container2 span{
    /*estilos generales*/
    background-color: pink;
    color: whitesmoke;
    font-size: 40px;
    /*proximos conceptos*/
    display: inline-block;
    /*modelo de caja*/
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 20px;
}

/*tres box*/
.container3 {
    width: 510px;
    background-color: black;
    margin-bottom: 20px;
}
/*para todo span que este dentro del container
Content box*/
.container3 span {
    /*estilos generales*/
    background-color: pink;
    color: whitesmoke;
    font-size: 40px;
    /*proximos conceptos*/
    display: inline-block;
    /*modelo de caja*/
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 20px;
}

.container1final{
    /*estilos generales*/
    background-color: pink;
    color: whitesmoke;
    font-size: 40px;
    /*proximos conceptos*/
    display: inline-block;
    /*modelo de caja*/
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: 20px;
}




